@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
input {
    font-family: "Poppins", sans-serif;
}

.container {
    position: relative;
    width: 100%;
    background-color: #ececec;
    min-height: 100vh;
    overflow: hidden;
}

.forms-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.signin-signup {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 75%;
    width: 50%;
    transition: 1s 0.7s ease-in-out;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0rem 5rem;
    transition: all 0.2s 0.7s;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

form.sign-up-form {
    opacity: 0;
    z-index: 1;
}

form.sign-in-form {
    z-index: 2;
}
/* ----------ty lorde---------- */
.sign-in-form {
    height: 100vh;
}
/* ----------ty lorde---------- */
.title {
    font-size: 2.2rem;
    color: #444;
    margin-top: -5rem;
    font-weight: 300;
}
.title2 {
    font-size: 2.2rem;
    color: #444;
    margin-top: -5rem;
    font-weight: 300;
}
.logo {
    height: 20vw;
    width: auto;
    border-radius: 5%;
    display: block;
    margin: 4 auto;
    /* display: block;   */
    /* margin: 4 auto;  */
    margin-left: 24rem;
    margin-top: -10rem;
}
@media (max-width: 870px) {
    .logo {
        height: 15vw; 
        margin-left: auto; 
        margin-right: auto;
        margin-top: -5rem; 
    }
}
/* .input-field {
    max-width: 380px;       
    width: 100%;             
     background-color: #afb0b5;
    margin: 10px 0;        
    height: 45px;            
    border-radius: 13px;     
    display: grid;           
    grid-template-columns: 15% 85%; 
    padding: 0 0.4rem;       
    position: relative;      
    text-align: left;         
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.20);
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #afb0b5 inset !important;
    -webkit-text-fill-color: white!important;
    background-clip: padding-box !important;
    border-radius: 13px; 
    margin: 10px 0;   
    margin-bottom: 30px;
    font-size: 20px;
}


.input-field i {
    display: flex;            
    align-items: center;      
    justify-content: center;  
    font-size: 1.1rem;       
    height: 100%;           
    
}

.input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
    text-align: left;
    padding-left: 10px;
}


.input-field {
    margin-bottom: 1rem; 
}
.input-field input::placeholder {
    /* color: #aaa;  
    font-weight: 500;
    
 */
.input-field {
    max-width: 380px;
    width: 100%;
    background-color: #d6d7dd;
    margin: 10px 0;
    height: 45px;
    border-radius: 13px;
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 0 0.4rem;
    position: relative;
    text-align: left;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #d6d7dd inset !important;
    -webkit-text-fill-color: #585454 !important;
    background-clip: padding-box !important;
    border-radius: 13px;

    font-size: 10px;
}

.input-field i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    height: 100%;
    margin-right: 10px;
    margin-left: 10px;
    color: #435e77;
}

.input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 400;
    font-size: 15px;
    color: #333;
    text-align: left;
    padding-left: 10px;
}

.input-field input::placeholder {
    font-weight: 500;
}

.social-text {
    padding: 0.7rem 0;
    font-size: 1rem;
}

.social-media {
    display: flex;
    justify-content: center;
}

.social-icon {
    height: 46px;
    width: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.45rem;
    color: #333;
    border-radius: 50%;
    border: 1px solid #333;
    text-decoration: none;
    font-size: 1.1rem;
    transition: 0.3s;
}

.social-icon:hover {
    color: #0b3554;
    border-color: #0b3554;
}

.btn {
    width: 250px;
    height: 45px;
    background-color: #1d2d44;
    border: none;
    outline: none;
    border-radius: 13px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 30px 0;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover {
    background-color: #8fafd1;
}

.panels-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.container:before {
    content: "";
    position: absolute;
    height: 45vw;
    width: 45vw;
    top: 50%;
    left: 3%;
    transform: translateY(-50%);
    border-radius: 5%;
    /* background-image: linear-gradient(-45deg, #0b3554 0%, #330028 100%);  */
    background-color: #425673;
    transition: 1.8s ease-in-out;
    z-index: 6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.btnf1 {
    position: absolute; 
    bottom: 38%; 
    left: 45%;
    transform: translateX(-50%); 
    width: 320px;
    height: 55px;
    background-color: #435e77;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
    border-radius: 30px;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    transition: 0.5s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.btnf2 {
    position: absolute; 
    bottom: 50%; 
    left: 15%;
    transform: translateX(-50%); 
    width: 320px;
    height: 55px;
    background-color: #737373;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
    border-radius: 30px;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    transition: 0.5s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.btnf3 {
    position: absolute; 
    bottom: 5%; 
    left: 15%;
    transform: translateX(-50%); 
    width: 350px;
    height: 55px;
    background-color: #d1cccc;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
    border-radius: 30px;
    color: #0f0f0f;
    font-weight: 500;
    font-size: 15px;
    transition: 0.5s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.styled-image {
    height: 38vw;
    width: auto;
    border-radius: 5%;
    display: block;
    margin: 6 auto;
    margin-right: -6rem;
    margin-top: 4rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.logo-image {
    height: 20vw;
    width: auto;
    border-radius: 5%;
    display: block;
    margin: 4 auto;
    margin-left: 78rem;
    margin-top: 3rem;
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;
    z-index: 6;
}

.left-panel {
    pointer-events: all;
    padding: 3rem 17% 2rem 12%;
}

.right-panel {
    pointer-events: none;
    padding: 3rem 12% 2rem 17%;
}

.panel .content {
    color: #fff;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
}

.panel h3 {
    font-weight: 600;
    line-height: 1;
    font-size: 1.5rem;
}

.panel p {
    font-size: 0.95rem;
    padding: 0.7rem 0;
}

/* .btn.transparent {
    margin: 0;
    background: none;
    margin-top: 0px;
    border: 2px solid #be4a4a;
    width: 130px;
    height: 41px;
    font-weight: 600;
    font-size: 0.8rem;
    color: #be4a4a;
} */
#sign-up-btn {
    position: absolute;
    top: 10px;
    right: 20px;
}

.container {
    position: relative;
}

.panels-container {
    position: relative;
}

.btn.transparent {
    margin: 40px;
    width: 120px;
    height: 40px;
    color: #fff;
    border-radius: 13px;
    background-color: #0d1321;
    /* padding: 3px 10px; */
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.btn.transparent:hover {
    background-color: #8fafd1;
    color: #fff;
}

.right-panel .image,
.right-panel .content {
    transform: translateX(800px);
}

/* ANIMATION */

.container.sign-up-mode:before {
    transform: translate(100%, -50%);
    right: 52%;
}

.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content {
    transform: translateX(-800px);
}

.container.sign-up-mode .signin-signup {
    left: 25%;
}

.container.sign-up-mode form.sign-up-form {
    opacity: 1;
    z-index: 2;
}

.container.sign-up-mode form.sign-in-form {
    opacity: 0;
    z-index: 1;
}

.container.sign-up-mode .right-panel .image,
.container.sign-up-mode .right-panel .content {
    transform: translateX(0%);
}

.container.sign-up-mode .left-panel {
    pointer-events: none;
}

.container.sign-up-mode .right-panel {
    pointer-events: all;
}
.forgot-password-link {
    color: #0b3554;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s;
}

.forgot-password-link:hover {
    color: #719ecf;
}

@media (max-width: 870px) {
    .container {
        min-height: 800px;
        height: 100vh;
    }
    .signin-signup {
        width: 100%;
        top: 95%;
        transform: translate(-50%, -100%);
        transition: 1s 0.8s ease-in-out;
    }
    .signin-signup,
    .container.sign-up-mode .signin-signup {
        left: 50%;
    }
    .panels-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 1fr;
    }
    .panel {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 2.5rem 8%;
        grid-column: 1 / 2;
    }
    .right-panel {
        grid-row: 3 / 4;
    }
    .left-panel {
        grid-row: 1 / 2;
    }
    .image {
        width: 200px;
        transition: transform 0.9s ease-in-out;
        transition-delay: 0.6s;
    }
    .panel .content {
        padding-right: 15%;
        transition: transform 0.9s ease-in-out;
        transition-delay: 0.8s;
    }
    .panel h3 {
        font-size: 1.2rem;
    }
    .panel p {
        font-size: 0.7rem;
        padding: 0.5rem 0;
    }
    .btn.transparent {
        width: 110px;
        height: 35px;
        font-size: 0.7rem;
    }
    .container:before {
        width: 1500px;
        height: 1500px;
        transform: translateX(-50%);
        left: 30%;
        bottom: 68%;
        right: initial;
        top: initial;
        transition: 2s ease-in-out;
    }
    .container.sign-up-mode:before {
        transform: translate(-50%, 100%);
        bottom: 32%;
        right: initial;
    }
    .container.sign-up-mode .left-panel .image,
    .container.sign-up-mode .left-panel .content {
        transform: translateY(-300px);
    }
    .container.sign-up-mode .right-panel .image,
    .container.sign-up-mode .right-panel .content {
        transform: translateY(0px);
    }
    .right-panel .image,
    .right-panel .content {
        transform: translateY(300px);
    }
    .container.sign-up-mode .signin-signup {
        top: 5%;
        transform: translate(-50%, 0);
    }
}

@media (max-width: 570px) {
    form {
        padding: 0 1.5rem;
    }
    .image {
        display: none;
    }
    .panel .content {
        padding: 0.5rem 1rem;
    }
    .container {
        padding: 1.5rem;
    }
    .container:before {
        bottom: 72%;
        left: 50%;
    }
    .container.sign-up-mode:before {
        bottom: 28%;
        left: 50%;
    }
}

.logo {
    position: absolute;
    top: 0px;
    left: 20px;
    width: 150px;
    height: auto;
}
#error-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #f44336;
    color: white;
    z-index: 1000;
}
